<!DOCTYPE html>
<html lang='en-US'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
    crossorigin="anonymous"></script>
    <title>Favorite Books Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='wrapper'>
        <div class="row">
            <div class="col-10">
                <h1>Welcome: {{this_user.first_name}}!</h1>
            </div>
            <div class="col-1">
                <a href="/logout">Log out</a>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <h2 class="h2">Add a Favorite Book</h2>
                    <form class="form-group" action="book/create" method="POST">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 form-label">Title</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="title">
                        </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="desc" class="col-sm-2 form-label">Description</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="desc" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" value="{{this_user.id}}">Submit</button>
                    </form>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                
                </div>
                
                <div class="col-6">
                    <h2 class="h2">All Books</h2>
                    {% for book in all_books %}
                    <ul>
                        <li>
                            <form class="form-group" action="book/{{book.id}}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">{{book.title}}</button>
                            </form>
                        </li>
                        <li>(added by {{book.uploaded_by.first_name}})</li>
                        <li>
                            
                            {% for like in likes %}
                            {{like.}}
                            {% endfor %}
                            {{book.users_who_like.user_id}}
                            {% if this_user not in book.users_who_like.all %}
                            <form class="form-group" action="book/{{book.id}}/like" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">Add To Favorites</button>
                            </form>
                            {% else %}
                           <p>This is one of your Favorites!</p>
                            {% endif %}
                            {% for person in books.users_who_like.all %}
                            {{person.first_name}}
                            {% endfor %}
                        </li>
                    </ul>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>